<html lang="en" xmlns:th="http://www.thymeleaf.org">


<table th:each="item : ${product}" class="table table-light">
	<tr>
		<td>Product</td>
		<td th:text="${item.Product.Name}"></td>
	</tr>
	<tr>
		<td>Initial</td>
		<td th:text="${item.Initial}"></td>
	</tr>
	<tr>
		<td>Name</td>
		<td th:text="${item.Name}"></td>
	</tr>
	<tr>
		<td>Active</td>
		<td><input type="checkbox" th:checked="${item.Active}" disabled></td>
	</tr>
	<tr>
		<td align="right"><button class="btn btn-warning" onclick="javascript:window.open('/product/index', '_self')">Cancel</button></td>
		<td><button class="btn btn-danger" th:value="${item.Id}" onclick="del(this.value)">Delete</button></td>
	</tr>
</table>

<script>
	function del(id){
		window.open('/product/del/' + id, '_self')
	}
</script>

</html>